@model UserRegisterViewModel

l@*@model EntityLayer.Concrete.Writer*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Tariflerimize bir yenisini eklemek için kayıt olun!</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "RegisterIdentity", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Adınız Soyadınız</label>
                            @Html.TextBoxFor(x=>x.NameSurname,new{@class="form-control"})
                            @Html.ValidationMessageFor(x=>x.NameSurname,"",new{@class="text-danger"})
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Kullanıcı Adınız</label>
                            @Html.TextBoxFor(x=>x.UserName,new{@class="form-control"})
                            @Html.ValidationMessageFor(x=>x.UserName,"",new{@class="text-danger"})
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Mail Adresi</label>
                            @Html.TextBoxFor(x=>x.Mail,new{@class="form-control"})
                            @Html.ValidationMessageFor(x=>x.Mail,"",new{@class="text-danger"})

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            @Html.TextBoxFor(x => x.Password,new{@class="form-control"})
                            @Html.ValidationMessageFor(x=>x.Password,"",new{@class="text-danger"})

                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifreyi Doğrula</label>
                            @Html.TextBoxFor(x => x.ConfirmPassword,new{@class="form-control"})
                            @Html.ValidationMessageFor(x=>x.ConfirmPassword,"",new{@class="text-danger"})

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Şehir Seçiniz</label>
                            @*@Html.DropDownListFor(model => model.SelectedCityID, new SelectList(Model.City, "Id", "Name"))*@
                            @Html.DropDownListFor(model => model.City, Model.City.Select(x => new SelectListItem { Text = x.CityName, Value = x.CityID.ToString() }),new{@id="CityID",@class="form-control"})
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">İlçe Seçiniz</label>
                            @Html.DropDownListFor(model => model.District, Model.District.Select(x => new SelectListItem { Text = x.DistrictName, Value = x.DistrictID.ToString() }),new{@id="DistrictID",@class="form-control"})
                            <input type="hidden" id="SelectedCityID" name="SelectedCityID" value="" />
                            <input type="hidden" id="SelectedDistrictID" name="SelectedDistrictID" value="" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                    <p>
                        <a href="#" id="btn1">Kayıt olduktan sonra şartlarımızı kabul etmiş sayılırsınız. Okumak için tıklayınız.</a>
                    </p>
                }                <h2>@ViewBag.hata</h2>
                @*</form>*@
            </div>
            <br />
        </div>
    </div>

</section>
<script>
    $('#btn1').click(function () {
        swal("Kullanım Şartları", "Vermiş olduğunuz mail adresine yeniliklerden haberdar olabilmeniz için sizler ile iletişime geçebileceğimizi kabul etmiş olursunuz !");
    });

    $(document).ready(function () {
        $("#CityID").change(function () {
            var selectedCity = $(this).val();
            var url = "/Register/City/" + selectedCity;

            $.post(url, { selectedCity: selectedCity }, function (data) { //selectedcity ile controller'a parametre gönderiyoruz
                // İlçe dropdown listesini güncelle
                var districtDropdown = $("#DistrictID");
                districtDropdown.empty();
                $.each(data, function (index, district) {
                    districtDropdown.append($("<option></option>")
                        .val(district.districtID)
                        .text(district.districtName));
                });
            });
        });

        //$("form").submit(function (event) {
        //    event.preventDefault();
        //});

        $("form").submit(function (event) {
            var selectedDistrict = $("#DistrictID").val();
            var selectedCity = $("#CityID").val();
            $("#SelectedCityID").val(selectedCity);
            $("#SelectedDistrictID").val(selectedDistrict);
        });
    });


</script>





@* @model UserRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="~/admin-tema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin-tema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/admin-tema/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/admin-tema/css/animate.css" rel="stylesheet">
    <link href="~/admin-tema/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">YS+</h1>

            </div>
            <h3>Hesap Oluşturun</h3>
            <p>Tarif eklemek ve daha bir çok ayrıcalık için hesap oluşturun.</p>
            <form class="m-t" role="form" asp-action="Index">
                <div class="form-group">
                    <span asp-validation-for="NameSurname" class="text-danger"></span>
                    <input type="text" asp-for="NameSurname" class="form-control" placeholder="İsminiz" >
                </div>
                <div class="form-group">
                <span asp-validation-for="UserName" class="text-danger"></span>
                    <input type="text" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adınız" >
                </div>

                <div class="form-group">
                    <span asp-validation-for="Mail" class="text-danger"></span>
                    <input type="email" asp-for="Mail" class="form-control" placeholder="Mail" >
                </div>
                <div class="form-group">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifre" >
                </div>  <div class="form-group">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Şifre Tekrar" >
                   
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Şartları kabul ediyorum </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Kayıt Ol</button>

                <p class="text-muted text-center"><small>Zaten bir hesabın var mı?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/LoginIdentity/Index">Giriş Yap</a>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
            <p class="m-t"> <small>Yemeksende  | @DateTime.Now.Year </small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/admin-tema/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin-tema/js/popper.min.js"></script>
    <script src="~/admin-tema/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/admin-tema/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
 *@