@model List<Recipe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<html>
<body>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            @foreach (var item in Model)
            {
                
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                                <img src="/@item.ReceipeImage" class="card-img-top img-fluid" style="max-height:210px;">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                @item.AppUser.NameSurname
                            </span>
                            <small class="text-muted">@item.Category.CategoryName</small>
                                <a href="/Recipe/RecipeReadAll/@item.ReceipeID" class="product-name"> @item.ReceipeName</a>



                            <div class="small m-t-xs">
                                    @(item.ReceipeDescription.Length > 50 ? item.ReceipeDescription.Substring(0, item.ReceipeDescription.Substring(0, 50).LastIndexOf(" ")) : item.ReceipeDescription)
                                </div>
                            <div class="m-t text-righ">

                                <a href="/Recipe/RecipeReadAll/@item.ReceipeID" class="btn btn-xs btn-outline btn-primary">Tarife Git <i class="fa fa-long-arrow-right"></i> </a>
                                    <div class="text-right" style="margin-top:-20px;">@item.CreateDate.ToShortDateString() </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
            }

        </div>
      
    </div>
</body>
</html>

