@model  List<WriterMessage>
@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">

        @await Html.PartialAsync("~/Areas/Admin/Views/AdminMessage/PartialMessageMenu.cshtml")

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="float-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" name="search" placeholder="Mail arayın">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Ara
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    Mesajlar(@ViewBag.messageCount)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left"><i class="fa fa-refresh"></i> Yenile</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-exclamation"></i> </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash-o"></i> </button>

                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="unread">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks">
                                </td>
                                <td class="mail-ontact"><a onclick="showMessageDetails('@item.MessageID')">@item.ReceiverWriter.NameSurname</a></td>
                                <td class="mail-subject"><a onclick="showMessageDetails('@item.MessageID')">@item.Subject</a></td>
                                <td class=""><i class="fa fa-paperclip"></i></td>
                                <td class="text-right mail-date">@item.MessageDate</td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mesaj</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="messageDetails">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showMessageDetails(messageId) {
        $.ajax({
            url: '/Admin/AdminMessage/MessageDetail',
            type: 'GET',
            data: { id: messageId },
            success: function (data) {
                // AJAX çağrısı başarılı olduğunda modal içeriğini güncelle
                $('#messageDetails').html(data);
                $('#messageModal').modal('show'); // Modalı göster
            },
            error: function () {

                alert('Mesaj detayları alınamadı.');
            }
        });
    }
</script>

